{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Login</h1>
    {% if error %}
    <div class="col-sm-12">
        <div class="alert alert-danger" role="alert">{{error}}  <a class="btn btn-danger" href="{{google_logout}}">Logout</a></div>

    </div>
    {% else %}
    <div class="col-sm-6">


        {% if failed %}

        <strong>Login failed!</strong> Check your credentials and try again.

        {% endif %}

        <form class="form " action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" value="{{ username }}" class="form-control" name="username" id="username"/>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password"/>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>

    </div>
    <div class="col-sm-6 right">
        <div><b>Usa google</b></div>
        <a class="btn btn-danger" href="{{google_login}}">Sign in with google</a>
    </div>
       {%endif%}
</div>

{% endblock %}